
<ion-content padding force-overscroll="false">
    <gl-background-video  src="assets/horse.mp4">
    </gl-background-video>
      <ion-grid>
         <ion-row>
            <ion-col>
                  <ion-img src="assets/stableduel-logo-footer.png"></ion-img>
            </ion-col>
         </ion-row>
         <ion-row>
            <ion-col size="auto" offset="1"> <h5 class="text-center"><span style='opacity: 0.8;'>PLAY. </span><strong class="big ml-3">RACE.</strong> <strong class="bigger ml-3">WIN.</strong></h5></ion-col>
         </ion-row>
      </ion-grid>
    <ion-router-outlet id="main"></ion-router-outlet>
  </ion-content>


