   


        ::ng-deep video[poster] {
            -o-object-fit: none;
            object-fit: fill;
            height: -webkit-fill-available;
        }
          h5 {
    color: white;
          }
          video {
            position: absolute;
            left: 0px;
            top: 0px;
            z-index: -1;
          }
          ion-grid{
            position: absolute;
            left: 0px;
            padding: 33px;
            top: 75px;
          }