<ion-footer>
    <ion-grid>
        <ion-row>
          <ion-col class="center" col-6><ion-button href='registration' class="join_btn" fill="clear" >JOIN</ion-button></ion-col>
            <ion-col class="center" col-6><ion-button [routerLink]="['/splash/login']" class="login_btn" fill="clear">LOGIN</ion-button></ion-col>
        </ion-row>
    </ion-grid>
</ion-footer>
