button {
    font-weight: bold;
}

.join_btn{
background-color: #001a57;
color: white;
height: 35px;
width: 100px;
border-radius: 20px;
border-style: solid;
border-width: 2px;
border-color: '#fff';
margin-bottom: 20px;
}

.login_btn{
    height: 35px;
    width: 100px;
    background-color: #080f1f;
    color: white; 
    border-style: solid;
    border-width: 2px;
    border-color: red;
    border-radius: 20px;
    margin-bottom: 20px;
}


.center{
    text-align: center;
}
ion-footer{
    margin-top: 30rem;
}