<div padding class="login_form"> 
    <div padding class="pl-3" >
        <a type='button' style="color: #72f542;text-decoration:none" [routerLink]="['../sign']">New to StableDuel? Sign up now</a>
    </div>
   <form action="">
      <ion-grid>
          <ion-row>
            <ion-col >
                <ion-input placeholder="Enter Email"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
              <ion-col>
                  <ion-input placeholder="Enter Password"></ion-input>
              </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
                <a class="ion-text-center" href="#">Forget Password?</a>
            </ion-col>
          </ion-row>
          <ion-row>
              <ion-col>
                  <ion-button expand="full" size="small" shape="round" >Login</ion-button>
              </ion-col>
          </ion-row>
      </ion-grid>
   </form>
</div>
