ion-input{
    border-radius: 30px !important;
    padding-left: 30px !important;
    font-size: 0.9em;
    margin-bottom: 10px;
    border: 1px solid #ffffff;
    border-bottom: 1px !important;
    box-shadow: none !important;
    background-color: #192F65;
}
.login_form{
    margin-top: 23rem;
}
ion-img{
    width: 167px;
}