<ion-header>
    <ion-toolbar>
        <ion-title>
            <ion-img alt="logo" id="header_logo" class="text-center img-fluid" src="assets/stableduel-logo.png"> </ion-img>
          </ion-title>
      <ion-buttons slot="start">
          <ion-back-button color="danger">Back</ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-grid>
      <form action="">
        <ion-row>
          <ion-col>
            <ion-lable color='warning' class="text-center">Enter Your Email</ion-lable>
            <ion-input></ion-input>
          </ion-col>
        </ion-row>
      </form>
    </ion-grid>
  </ion-content>